[Unit]
Description=Gunicorn server for rbarth01.net

[Service]
Restart=on-failure
User=ubuntu
WorkingDirectory=/home/ubuntu/sites/rbarth01.net
EnvironmentFile=/home/ubuntu/sites/rbarth01.net/.env

ExecStart=/home/ubuntu/sites/rbarth01.net/virtualenv/bin/gunicorn \
    --bind unix:/tmp/rbarth01.net.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
